
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-Au5 {
  overflow: hidden;
  background-size: 100% 100%;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  background-position: center;
  background-image: url('REPLACE_IMAGE:780404814748685ebf2ef251f4e8c3636f46157a');
  position: relative;
  background-repeat: no-repeat;

  .how-tall-are-you-JkP {
    width: 37.5rem;
    position: absolute;
    top: 63.3rem;
    font-size: 4.5rem;
    line-height: 1.2125;
    color: #ffffff;
    white-space: nowrap;
    height: 5.5rem;
    left: 53.2rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
  }
  .skip-mts {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 300;
    white-space: nowrap;
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    left: 137.2rem;
    top: 1.3rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-9yfz-VZy {
    left: 8.5rem;
    top: 84.5rem;
    display: flex;
    align-items: center;
    width: 123.9rem;
    height: 14.7rem;
    position: absolute;

    .auto-group-ysc3-247 {
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      width: 33.4rem;
      font-size: 4.5rem;
      justify-content: center;
      background-color: #3bae1e;
      height: calc(100% - 7.5rem);
      line-height: 1.2125;
      display: flex;
      margin: 5rem 15.1rem 2.5rem 0rem;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-7psy-6Js {
      margin: 0rem 39.2rem 9.6rem 0rem;
      box-sizing: border-box;
      padding: 0rem 1.1rem 0rem 1rem;
      display: flex;
      align-items: center;
      border-top: solid 0.1rem #ffffff;
      flex-shrink: 0;

      .item-183-D8b {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.8rem 7.6rem 0rem 0rem;
      }
      .ft-in-Xf5 {
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .fitflex-3tK {
      font-size: 4rem;
      text-decoration-line: underline;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      flex-shrink: 0;
      margin-top: 9.8rem;
      font-weight: 700;
      line-height: 1.2102272034;
      color: #0e0c0c;
      white-space: nowrap;

      .fitflex-3tK-sub-0 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
      }
      .fitflex-3tK-sub-1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #a01313;
        font-family: Inter, 'Source Sans Pro';
      }
      .fitflex-3tK-sub-2 {
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .fitflex-3tK-sub-3 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #a00404;
      }
    }
  }
  .auto-group-voxs-dtT {
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    font-size: 4.5rem;
    line-height: 1.2125;
    align-items: center;
    border-top: solid 0.1rem #ffffff;
    width: 23.6rem;
    display: flex;
    justify-content: center;
    height: 5.5rem;
    left: 57rem;
    top: 77.5rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    box-sizing: border-box;
  }
  .item-181-vMm {
    width: 5.8rem;
    top: 72.2rem;
    font-size: 3.5rem;
    font-weight: 700;
    height: 4.3rem;
    position: absolute;
    left: 58rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
}
