
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-5-BvP {
  width: 100%;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:780404814748685ebf2ef251f4e8c3636f46157a');
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .how-much-do-you-weight-nvB {
    width: 57.8rem;
    top: 62.3rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    color: #ffffff;
    height: 5.5rem;
    position: absolute;
    left: 40.1rem;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.2125;
  }
  .auto-group-sgqd-RiF {
    position: absolute;
    left: 8.5rem;
    top: 89.5rem;
    display: flex;
    align-items: flex-end;
    width: 133.4rem;
    height: 11.2rem;

    .auto-group-zoaf-JvT {
      white-space: nowrap;
      font-weight: 700;
      display: flex;
      height: 7.2rem;
      font-size: 4.5rem;
      line-height: 1.2125;
      align-items: center;
      justify-content: center;
      margin: 0rem 87.4rem 4rem 0rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      background-color: #3bae1e;
      flex-shrink: 0;
      width: 33.4rem;
    }
    .fitflex-L6T {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 700;
      color: #0e0c0c;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2102272034;
      text-decoration-line: underline;
      display: flex;
      align-items: baseline;

      .fitflex-L6T-sub-0 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .fitflex-L6T-sub-1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #a01313;
        font-family: Inter, 'Source Sans Pro';
      }
      .fitflex-L6T-sub-2 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .fitflex-L6T-sub-3 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #a00404;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .skip-agw {
    width: 4rem;
    cursor: pointer;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    line-height: 1.2125;
    color: #ffffff;
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    left: 137.2rem;
    top: 1.3rem;
  }
  .auto-group-4yek-tSj {
    box-sizing: border-box;
    padding: 0rem 1.1rem 0rem 4.8rem;
    width: 22.7rem;
    height: 4.3rem;
    position: absolute;
    align-items: center;
    left: 53.2rem;
    top: 84rem;
    display: flex;
    border-top: solid 0.1rem #ffffff;

    .item-63-Nsh {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.9rem;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .lbs-GCP {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2125;
    }
  }
  .auto-group-y3bm-ngX {
    padding-left: 3.8rem;
    left: 53.2rem;
    top: 77.5rem;
    width: 23.8rem;
    line-height: 1.2125;
    color: #ffffff;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    border-top: solid 0.1rem #ffffff;
    box-sizing: border-box;
    height: 5.5rem;
    position: absolute;
    font-size: 4.5rem;
  }
  .item-61-eCw {
    width: 4.1rem;
    position: absolute;
    left: 58rem;
    top: 72.2rem;
    font-size: 3.5rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    height: 4.3rem;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
  }
}
