
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-8-CP9 {
  background-color: #000000;
  padding: 8.5rem 41.7rem 14.863rem 32.7rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .your-plan-is-ready-iMV {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 3rem 1.8rem 0rem;
  }
  .we-have-selected-this-plan-that-suits-you-best-QVD {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 9.2rem;
    font-size: 3.2rem;
    font-weight: 200;
    line-height: 1.2125;
    color: #ffffff;
  }
  .auto-group-ovsd-vyM {
    margin: 0rem 2.7rem 9.663rem 1.9rem;
    width: calc(100% - 4.6rem);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:0a3d31d6a44d7864d58259a5427935fe8b031d45');
    flex-shrink: 0;

    .image-11-3YB {
      vertical-align: top;
      width: 65rem;
      height: 36.6rem;
      object-fit: cover;
    }
  }
  .auto-group-x26s-hMq {
    white-space: nowrap;
    display: flex;
    height: 10.0738rem;
    font-size: 4.5rem;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    width: calc(100% - 30.781rem);
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    background-size: cover;
    background-image: url('REPLACE_IMAGE:36:135');
    margin: 0rem 16.19rem 0rem 14.591rem;
    font-family: Inter, 'Source Sans Pro';
    background-position: center;
    flex-shrink: 0;
  }
}
