
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-z7Z {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:e40c92062e117ecac3ce886b76f2a5488d8c9cca');
  height: 102.4rem;
  overflow: hidden;
  background-size: 100% 100%;
  background-color: #cf2424;
  width: 100%;

  .how-often-do-you-exercise-HsM {
    height: 5.5rem;
    left: 6rem;
    top: 9.1rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 61.9rem;
    position: absolute;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1.2125;
  }
  .auto-group-m2mm-zWs {
    width: 50.6rem;
    height: 11rem;
    position: absolute;
    left: 6rem;
    top: 22.8rem;
    background-color: #d9d9d9;

    .beginner-8NB {
      white-space: nowrap;
      height: 5.5rem;
      position: absolute;
      left: 14.9rem;
      line-height: 1.2125;
      color: #000000;
      width: 19.9rem;
      top: 1.3rem;
      font-size: 4.5rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
    }
    .just-start-exercising-Stf {
      height: 3rem;
      position: absolute;
      font-weight: 200;
      color: #000000;
      white-space: nowrap;
      width: 22.3rem;
      top: 6.7rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      left: 13.9rem;
    }
  }
  .auto-group-kuqz-XQK {
    background-color: #d9d9d9;
    width: 50.6rem;
    height: 11rem;
    position: absolute;
    left: 6rem;
    top: 60.4rem;

    .advance-G71 {
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      height: 5.5rem;
      left: 15.3rem;
      font-size: 4.5rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      width: 19.5rem;
      position: absolute;
      top: 1.2rem;
    }
    .over-4-times-a-week-yn7 {
      width: 22.7rem;
      height: 3rem;
      position: absolute;
      left: 13.9rem;
      top: 6.6rem;
      font-size: 2.4rem;
      font-weight: 200;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-1nkq-TBV {
    top: 41.6rem;
    background-color: #d9d9d9;
    width: 50.6rem;
    height: 11rem;
    position: absolute;
    left: 6rem;

    .times-a-week-nzT {
      width: 18.8rem;
      height: 3rem;
      top: 5.5rem;
      font-weight: 200;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 16rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #000000;
    }
    .intermediate-KDh {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 12.1rem;
      top: 0.5rem;
      font-weight: 700;
      color: #000000;
      width: 28.3rem;
      height: 5.5rem;
      font-size: 4.5rem;
      line-height: 1.2125;
    }
  }
  .skip-S3R {
    white-space: nowrap;
    width: 4rem;
    cursor: pointer;
    position: absolute;
    left: 137.2rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
    top: 1.3rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2125;
  }
  .auto-group-pf43-MAP {
    height: 7.2rem;
    font-size: 4.5rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    width: 33.4rem;
    left: 6rem;
    font-weight: 700;
    display: flex;
    background-color: #3bae1e;
    position: absolute;
    top: 89rem;
    color: #ffffff;
    justify-content: center;
  }
  .fitflex-3Z1 {
    height: 4.9rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    align-items: baseline;
    top: 96.2rem;
    font-size: 4rem;
    color: #0e0c0c;
    display: flex;
    width: 12.6rem;
    left: 129.6rem;
    line-height: 1.2102272034;
    position: absolute;
    text-decoration-line: underline;
    white-space: nowrap;

    .fitflex-3Z1-sub-0 {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
    }
    .fitflex-3Z1-sub-1 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #a01313;
    }
    .fitflex-3Z1-sub-2 {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
    }
    .fitflex-3Z1-sub-3 {
      color: #a00404;
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
    }
  }
}
