
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-FA7 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .home-NEj {
    font-size: 2.6261rem;
    font-weight: 400;
    color: #ffffff;
    height: 3.2rem;
    position: absolute;
    left: 100rem;
    top: 8.4rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.9rem;
  }
  .image10-1-SkP {
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
  }
  .fitflex-nJT {
    width: 27.8rem;
    left: 5.6rem;
    position: absolute;
    font-size: 8.8586rem;
    text-decoration-line: underline;
    white-space: nowrap;
    height: 10.8rem;
    top: 1.4rem;
    font-weight: 700;
    color: #0e0c0c;
    font-family: Inter, 'Source Sans Pro';
    align-items: baseline;
    line-height: 1.2102272081;
    display: flex;

    .fitflex-nJT-sub-0 {
      font-size: 8.8586rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #0e0c0c;
      font-family: Inter, 'Source Sans Pro';
    }
    .fitflex-nJT-sub-1 {
      font-size: 8.8586rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #a01313;
      font-family: Inter, 'Source Sans Pro';
    }
    .fitflex-nJT-sub-2 {
      font-size: 8.8586rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #0e0c0c;
      font-family: Inter, 'Source Sans Pro';
    }
    .fitflex-nJT-sub-3 {
      font-size: 8.8586rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #a00404;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .flex-your-fitness-potential-7Nf {
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    left: 5.6rem;
    top: 13.3rem;
    line-height: 1.2125;
    color: #ffffff;
    white-space: nowrap;
    width: 33.2rem;
    height: 3rem;
    font-size: 2.46rem;
    font-weight: 700;
    letter-spacing: 0.0492rem;
  }
  .loading-1-Cf1 {
    top: 91.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 6.4037rem;
    height: 6.4037rem;
    cursor: pointer;
    position: absolute;
    left: 134rem;
  }
  .loading-XSP {
    line-height: 1.2125;
    white-space: nowrap;
    width: 6.9rem;
    left: 134rem;
    top: 98.1rem;
    font-weight: 500;
    letter-spacing: -0.0374rem;
    color: #f8f8f8;
    font-family: Inter, 'Source Sans Pro';
    height: 2.3rem;
    position: absolute;
    font-size: 1.8678rem;
  }
}
