
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-7Pm {
  overflow: hidden;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:2fcbd0647168e475e4bac5dbcfbc8c65b169fe64');
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  background-repeat: no-repeat;

  .how-would-you-like-to-sculpt-your-biceps--TCj {
    top: 13.9rem;
    font-size: 4.5rem;
    line-height: 1.2125;
    color: #ffffff;
    width: 73.6rem;
    height: 11rem;
    left: 7rem;
    position: absolute;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-fsr1-kSj {
    position: absolute;
    font-family: Inter, 'Source Sans Pro';
    box-sizing: border-box;
    padding: 1.2rem 3.8rem 1.2rem 9.2rem;
    width: 50.6rem;
    height: 11rem;
    left: 8.5rem;
    line-height: 1.2125;
    font-size: 4.5rem;
    white-space: nowrap;
    background-color: #d9d9d9;
    top: 31.9rem;
    font-weight: 800;
    color: #000000;
  }
  .auto-group-drhr-oR1 {
    background-color: #d9d9d9;
    height: 11rem;
    position: absolute;
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.2125;
    display: flex;
    width: 50.6rem;
    top: 50.2rem;
    font-family: Inter, 'Source Sans Pro';
    left: 8.5rem;
    color: #000000;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
  }
  .auto-group-saqd-V2w {
    width: 33.4rem;
    line-height: 1.2125;
    display: flex;
    justify-content: center;
    height: 7.2rem;
    position: absolute;
    left: 8.5rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    top: 89.5rem;
    font-size: 4.5rem;
    font-weight: 700;
    color: #ffffff;
    align-items: center;
    background-color: #3bae1e;
  }
  .skip-b5y {
    cursor: pointer;
    left: 137.2rem;
    line-height: 1.2125;
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    top: 1.3rem;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 4rem;
  }
  .fitflex-uMZ {
    font-size: 4rem;
    line-height: 1.2102272034;
    color: #0e0c0c;
    display: flex;
    height: 4.9rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 12.6rem;
    text-decoration-line: underline;
    align-items: baseline;
    position: absolute;
    left: 129.4rem;
    top: 96.7rem;
    font-weight: 700;

    .fitflex-uMZ-sub-0 {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
    }
    .fitflex-uMZ-sub-1 {
      color: #a01313;
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
    }
    .fitflex-uMZ-sub-2 {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
    }
    .fitflex-uMZ-sub-3 {
      font-weight: 700;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #a00404;
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
    }
  }
}
