
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-pET {
  box-sizing: border-box;
  padding: 1.3rem 1.7rem 2.1rem 2.1rem;
  overflow: hidden;
  display: flex;
  background-size: 100% 100%;
  width: 100%;
  position: relative;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:da40b8a08dd2752950ac28df65e74f32fafc85ad');
  background-color: rgba(255, 255, 255, 0.8999999762);

  .skip-vHV {
    margin: 0rem 0rem 7.8rem 135.1rem;
    cursor: pointer;
    font-size: 2rem;
    line-height: 1.2125;
    color: #ffffff;
    white-space: nowrap;
    font-weight: 300;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .which-muscle-groups-do-you-want-to-train-pNs {
    margin: 0rem 0rem 5.4rem 0.2rem;
    max-width: 65.3rem;
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .auto-group-hdso-hxT {
    margin-bottom: 4.5rem;
    width: 50.8rem;
    height: 11rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-15-FDH {
      position: absolute;
      left: 0.2rem;
      top: 0;
      background-color: #d9d9d9;
      width: 50.6rem;
      height: 11rem;
    }
    .frame-2-b2F {
      top: 0.1rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      overflow: hidden;
      color: #030303;
      display: flex;
      height: 10.9rem;
      align-items: center;
      left: 0;
      font-size: 4.5rem;
      font-weight: 700;
      white-space: nowrap;
      justify-content: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 50.8rem;
    }
  }
  .auto-group-rm3d-4Rd {
    width: 50.6rem;
    font-size: 4.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    margin: 0rem 0rem 4.2rem 0.2rem;
    height: 11rem;
    color: #000000;
    font-weight: 700;
    white-space: nowrap;
    justify-content: center;
    background-color: #d9d9d9;
  }
  .auto-group-nhxt-jnf {
    flex-shrink: 0;
    height: 11rem;
    font-weight: 700;
    white-space: nowrap;
    align-items: center;
    margin: 0rem 0rem 3.9rem 0.2rem;
    line-height: 1.2125;
    width: 50.6rem;
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
    font-size: 4.5rem;
    color: #000000;
    display: flex;
    background-color: #d9d9d9;
  }
  .auto-group-mrat-yh1 {
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0rem 6.2rem 0.2rem;
    width: 50.6rem;
    height: 12.3rem;

    .rectangle-18-7YK {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #d9d9d9;
      width: 50.6rem;
      height: 11.6rem;
    }
    .frame-1-4iT {
      overflow: hidden;
      width: 10rem;
      height: 10rem;
      position: absolute;
      left: 25.8rem;
      top: 2.3rem;
    }
    .legs-byH {
      position: absolute;
      top: 1.9rem;
      font-size: 4.5rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.7rem;
      left: 14.3rem;
      font-weight: 700;
      line-height: 1.2125;
      height: 5.5rem;
    }
  }
  .auto-group-7pap-tBh {
    flex-shrink: 0;
    margin-left: 1rem;
    width: calc(100% - 1rem);
    display: flex;
    align-items: flex-end;

    .auto-group-bjef-c7h {
      flex-shrink: 0;
      height: 7.2rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      margin: 0rem 93.2rem 1rem 0rem;
      width: 33.4rem;
      font-size: 4.5rem;
      color: #ffffff;
      justify-content: center;
      background-color: #3bae1e;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .fitflex-62s {
      align-items: baseline;
      flex-shrink: 0;
      font-weight: 700;
      text-decoration-line: underline;
      white-space: nowrap;
      display: flex;
      font-size: 4rem;
      line-height: 1.2102272034;
      color: #0e0c0c;
      font-family: Inter, 'Source Sans Pro';

      .fitflex-62s-sub-0 {
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 700;
      }
      .fitflex-62s-sub-1 {
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #a01313;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
      }
      .fitflex-62s-sub-2 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .fitflex-62s-sub-3 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #a00404;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
