
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-5-BvP {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/a-hall-of-gym-with-single-dumbel-and-dark-backgrou-upscaled-1-bg.png');
  background-color: #ffffff;
}
.desktop-5-BvP .how-much-do-you-weight-nvB {
  width: 57.8rem;
  height: 5.5rem;
  position: absolute;
  left: 40.1rem;
  top: 62.3rem;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-BvP .auto-group-sgqd-RiF {
  width: 133.4rem;
  height: 11.2rem;
  position: absolute;
  left: 8.5rem;
  top: 89.5rem;
  display: flex;
  align-items: flex-end;
}
.desktop-5-BvP .auto-group-sgqd-RiF .auto-group-zoaf-JvT {
  margin: 0rem 87.4rem 4rem 0rem;
  width: 33.4rem;
  height: 7.2rem;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3bae1e;
  flex-shrink: 0;
}
.desktop-5-BvP .auto-group-sgqd-RiF .fitflex-L6T {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2102272034;
  text-decoration-line: underline;
  color: #0e0c0c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-5-BvP .auto-group-sgqd-RiF .fitflex-L6T .fitflex-L6T-sub-0 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-BvP .auto-group-sgqd-RiF .fitflex-L6T .fitflex-L6T-sub-1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #a01313;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-BvP .auto-group-sgqd-RiF .fitflex-L6T .fitflex-L6T-sub-2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-BvP .auto-group-sgqd-RiF .fitflex-L6T .fitflex-L6T-sub-3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #a00404;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-5-BvP .skip-agw {
  width: 4rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  left: 137.2rem;
  top: 1.3rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-5-BvP .auto-group-4yek-tSj {
  box-sizing: border-box;
  padding: 0rem 1.1rem 0rem 4.8rem;
  width: 22.7rem;
  height: 4.3rem;
  position: absolute;
  left: 53.2rem;
  top: 84rem;
  display: flex;
  align-items: center;
  border-top: solid 0.1rem #ffffff;
}
.desktop-5-BvP .auto-group-4yek-tSj .item-63-Nsh {
  margin-right: 6.9rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-BvP .auto-group-4yek-tSj .lbs-GCP {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-5-BvP .auto-group-y3bm-ngX {
  box-sizing: border-box;
  padding-left: 3.8rem;
  width: 23.8rem;
  height: 5.5rem;
  position: absolute;
  left: 53.2rem;
  top: 77.5rem;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-top: solid 0.1rem #ffffff;
}
.desktop-5-BvP .item-61-eCw {
  width: 4.1rem;
  height: 4.3rem;
  position: absolute;
  left: 58rem;
  top: 72.2rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
