
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-7Pm {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/a-gym-man-with-dumbles-upscaled-1-1-bg.png');
  background-color: #ffffff;
}
.desktop-4-7Pm .how-would-you-like-to-sculpt-your-biceps--TCj {
  width: 73.6rem;
  height: 11rem;
  position: absolute;
  left: 7rem;
  top: 13.9rem;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-7Pm .auto-group-fsr1-kSj {
  box-sizing: border-box;
  padding: 1.2rem 3.8rem 1.2rem 9.2rem;
  width: 50.6rem;
  height: 11rem;
  position: absolute;
  left: 8.5rem;
  top: 31.9rem;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
}
.desktop-4-7Pm .auto-group-drhr-oR1 {
  width: 50.6rem;
  height: 11rem;
  position: absolute;
  left: 8.5rem;
  top: 50.2rem;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}
.desktop-4-7Pm .auto-group-saqd-V2w {
  width: 33.4rem;
  height: 7.2rem;
  position: absolute;
  left: 8.5rem;
  top: 89.5rem;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3bae1e;
}
.desktop-4-7Pm .skip-b5y {
  width: 4rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  left: 137.2rem;
  top: 1.3rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-4-7Pm .fitflex-uMZ {
  width: 12.6rem;
  height: 4.9rem;
  position: absolute;
  left: 129.4rem;
  top: 96.7rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2102272034;
  text-decoration-line: underline;
  color: #0e0c0c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-4-7Pm .fitflex-uMZ .fitflex-uMZ-sub-0 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-7Pm .fitflex-uMZ .fitflex-uMZ-sub-1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #a01313;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-7Pm .fitflex-uMZ .fitflex-uMZ-sub-2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-4-7Pm .fitflex-uMZ .fitflex-uMZ-sub-3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #a00404;
  font-family: Inter, 'Source Sans Pro';
}
